@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster-Regular.ttf) format('truetype');
}

a {
  color: #0366d6;
  text-decoration: none !important;
  background-color: transparent;
}
.index_medic {
    width: 100%;
    margin-bottom: 0px;
}

.page {
    position: absolute;
    width: 100%;
    left: 0;
    height: 94%;
}

.login-img {
    padding: 3%;
    background: url("../img/heartbeat-304130.png"), #2b3137;
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-size: auto auto, auto auto;
    background-position: center 10%;
    background-size: cover;
}

.lead {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #586069;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.p-responsive {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.pb-6 {
    padding-bottom: 40px !important;
}

.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.VGCTitulo {
    /*font-family:'Lobster';*/
    font-size: 63px;
    text-align: center;
    /*background-color: #81F781;*/
}

.mb-0 {
    margin-bottom: 0 !important;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
}

.f5 {
    font-size: 14px !important;
}

.text-gray-dark {
    color: #24292e !important;
}

.f4 {
    font-size: 16px !important;
}

.f4 {
    font-size: 16px !important;
}

.group {
    position: relative;
    margin-bottom: 35px;
}

input {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}

input:focus {
    outline: none;
}

.doctor_card:hover{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);

}

.text-gray-dark {
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.text-gray-dark:hover {
  border-radius: 5px;
  z-index: -1;
  top: 0s;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

h1, h2, h3, h4, h5 {
    font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
    font-weight: 300;
    margin: 0;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    color: #204056;
    position: relative;
  }



.simple-form input {
  border-left: 6px solid #EEEEEE;
}
.simple-form input:required {
  border-left-color: #00A5CB;
}

.simple-form input:required:focus:valid {
  border-left: 4px solid #3174AE;
}

.simple-form input:focus:valid {
  border-left: 4px solid #FFC86A;
}
