{% if messages %}
    <div class="row dj-messages">
    <div class="col-md-6 col-md-offset-3">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
            {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">
            {% endif %}
            <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        </div>
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endif %}
