<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citas medicas</title>
    <link href="{% static 'citasmedicas/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'citasmedicas/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'citasmedicas/css/vgcode.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'citasmedicas/js/jquery-3.1.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="{% static 'citasmedicas/js/vgcode.js' %}"></script>
    <script src="{% static 'citasmedicas/js/main.js' %}"></script>
    <script src="{% static 'citasmedicas/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOmdwL1LUyF3uBW6rpw81iW32y1FYSf4Y&callback=myMap"></script>
</head>
<body>
<div class="container">
    {% if user.is_authenticated %}
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Citas medicas</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'citasmedicas_index' %}">Citas</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Paciente<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'paciente_alta' %}">Alta</a></li>
                            <li><a href="{% url 'paciente_lista' %}">Modificación</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Secretaria<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'secretaria_alta' %}">Alta</a></li>
                            <li><a href="{% url 'secretaria_lista' %}">Modificación</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultorio<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'consultorio_alta' %}">Alta</a></li>
                            <li><a href="{% url 'consultorio_lista' %}">Modificación</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Bienvenido: {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
</div>
<div class="starter-template"   >
    {% include 'citasmedicas/_messages.html' %}
    {% block content %}{% endblock content %}
</div>
<div class="container">
  <nav class="navbar navbar-inverse  navbar-fixed-bottom" id="footer">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">&copy; 2017 VG-Code</a>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div><!--/.nav-colapse -->
        </div>
    </nav>
</div>
</body>
</html>
