{% extends "citasmedicas/base.html" %}
{% include 'citasmedicas/mensajes_usuarios.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div id="menu-options" class="col-lg-2 col-md-2 col-sm-3 col-xs-20">
        {% if form %}
          <div class="container">
            <div class="col-lg-3 col-md-10 col-sm-9 col-xs-14 panel-product">
              <div class="panel-body text-center">
                <h1>Consultorio</h1>
                <p>Ingresar datos</p>
                <button class="btn" type="button" onclick="goBack()">Regresar</button>
              </div>
            </div>
            <div class="col-lg-9 col-md-10 col-sm-9 col-xs-14 panel-product">
              <div class="panel panel-default panel-menu panel-body">
                <form method="POST" class="simple-form">
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                      <label>Nombre *</label>
                      {{ form.nombre }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Estado *</label>
                      {{ form.estado }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Municipio *</label>
                      {{ form.municipio }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Colonia *</label>
                      {{ form.colonia }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Calle*</label>
                      {{ form.calle }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Cruce a *</label>
                      {{ form.cruce_a }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Cruce b</label>
                      {{ form.cruce_b }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Numero exterior *</label>
                      {{ form.numero_exterior }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Numero interior</label>
                      {{ form.numero_interior }}
                    </div>
                    <div class="form-group col-md-8">
                      <label>Telefono *</label>
                      {{ form.telefono }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Extension</label>
                      {{ form.ext }}
                    </div>
                    <div class="form-group col-md-6">
                      <label>Latitude</label>
                      {{ form.latitude }}
                    </div>
                    <div class="form-group col-md-6">
                      <label>Longitude</label>
                      {{ form.longitude }}
                    </div>
                    <div class="form-group col-md-12">
                      <div id = "map_canvas" style="width: 100%;height: 500px;"></div>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Frase, Tema o Especialidad</label>
                      {{ form.descripcion }}
                    </div>
                    <div class="form-group col-lg-12">
                      <center>
                        <button class="form-control btn btn-primary" type="submit">
                          <i class="glyphicon glyphicon-edit"> Guardar </i>
                        </button>
                        <button class="form-control btn btn-warning" type="reset">
                          <i class="glyphicon glyphicon-remove"> Cancelar </i>
                        </button>
                      </center>
                    </div>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
        {% if form_edit %}
          <div class="container">
            <div class="col-lg-3 col-md-10 col-sm-9 col-xs-14 panel-product">
              <div class="panel-body text-center">
                <h1>Consultorio</h1>
                <p>Ingresar datos</p>
                <button class="btn" type="button" onclick="goBack()">Regresar</button>
              </div>
            </div>
            <div class="col-lg-7 col-md-10 col-sm-9 col-xs-14 panel-product">
              <div class="panel panel-default panel-menu panel-body">
                <form method="POST">
                    {% csrf_token %}                    
                    <div class="form-group col-md-12">
                      <label>Nombre *</label>
                      {{ form_edit.nombre }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Estado *</label>
                      {{ form_edit.estado }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Municipio *</label>
                      {{ form_edit.municipio }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Colonia *</label>
                      {{ form_edit.colonia }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Calle*</label>
                      {{ form_edit.calle }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Cruce a *</label>
                      {{ form_edit.cruce_a }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Cruce b</label>
                      {{ form_edit.cruce_b }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Numero exterior *</label>
                      {{ form_edit.numero_exterior }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Numero interior</label>
                      {{ form_edit.numero_interior }}
                    </div>
                    <div class="form-group col-md-8">
                      <label>Telefono *</label>
                      {{ form_edit.telefono }}
                    </div>
                    <div class="form-group col-md-4">
                      <label>Extension</label>
                      {{ form_edit.ext }}
                    </div>
                    <div class="form-group col-md-6">
                      <label>Latitude</label>
                      {{ form_edit.latitude }}
                    </div>
                    <div class="form-group col-md-6">
                      <label>Longitude</label>
                      {{ form_edit.longitude }}
                    </div>
                    <div class="form-group col-md-12">
                      <div id = "map_canvas" style="width: 100%;height: 500px;"></div>
                    </div>
                    <div class="form-group col-md-12">
                      <label>Frase, Tema o Especialidad</label>
                      {{ form_edit.descripcion }}
                    </div>
                    <div class="form-group col-lg-12">
                      <center>
                        <button class="form-control btn btn-primary" type="submit">
                          <i class="glyphicon glyphicon-edit"> Editar </i>
                        </button>
                        <button class="form-control btn btn-warning" type="reset">
                          <i class="glyphicon glyphicon-remove"> Cancelar </i>
                        </button>
                      </center>
                    </div>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% if results.consultorios %}
      <div class="container" id="seach_data">
        <div class="row">
          <div class="col-md-8">
              <div class="page-header"><h2>Búsquedas</h2></div>
              <form action="." method="GET" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <div class="input-group col-md-12">
                          <input type="text" name="q" value="{{ query|escape }}"  class="form-control input-lg" placeholder="Buscar" />
                          <span class="input-group-btn">
                              <button  class="btn btn-info btn-lg" type="submit">
                                  <i class="glyphicon glyphicon-search"></i>
                              </button>
                              <a href="{% url 'consultorio_alta' %}" class="btn btn-success btn-lg">
                                Agregar consultorio
                                <i class="glyphicon glyphicon-plus"></i>
                              </a>
                          </span>
                      </div>
                  </div>
              </form>
              {% if query %}
                  <div class="panel panel-success">
                      <div class="panel-heading">
                          <span class="glyphicon glyphicon-hdd"></span>
                      </div>
                      <div class="panel-body">
                              <h4>Resultados para "{{ query|escape }}":</h4>
                      </div>
                  </div>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="panel panel-success">
          <div class="panel-heading">Consultorios agregados</div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Direccion</td>
                  <th>Descripcion</td>
                  <th>Doctor</td>
                  <th>Editar</td>
                </tr>
              </thead>
              <tbody>
                {% for consultorio in results.consultorios %}
                  <tr>
                    <td>{{consultorio.direccion}}</td>
                    <td>{{consultorio.descripcion}}</td>
                    <td>{{consultorio.doctor}}</td>
                    <td><a href="{% url 'consultorio_editar' pk=consultorio.pk %}" class="list-group-item"><span class="glyphicon glyphicon-edit"></span></a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    {% else %}
      {% if query %}
        <div class="alert alert-danger">
          No hay resultados para consultorios "{{ query|escape }}"
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="container" id="seach_data">
          <div class="row">
            <div class="col-md-8">
              <div class="page-header"><h2>Búsquedas</h2></div>
              <form action="." method="GET" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <div class="input-group col-md-12">
                          <input type="text" name="q" value="{{ query|escape }}"  class="form-control input-lg" placeholder="Buscar" />
                          <span class="input-group-btn">
                              <button  class="btn btn-info btn-lg" type="submit">
                                  <i class="glyphicon glyphicon-search"></i>
                              </button>
                              <a href="{% url 'consultorio_alta' %}" class="btn btn-success btn-lg">
                                Agregar consultorio
                                <i class="glyphicon glyphicon-plus"></i>
                              </a>
                          </span>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div><hr>
{% endblock %}
