{% extends "citasmedicas/base.html" %}
{% include 'citasmedicas/_messages.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div id="menu-options" class="col-lg-2 col-md-2 col-sm-3 col-xs-20">
        {% if form %}
        <div class="container">
          <div class="col-lg-3 col-md-10 col-sm-9 col-xs-14 panel-product">
            <div class="panel-body text-center">
              <h1>Paciente</h1>
              <p>Ingresar datos del paciente</p>
              <button class="btn" type="button" onclick="goBack()">Regresar</button>
            </div>
          </div>
          <div class="col-lg-7 col-md-10 col-sm-9 col-xs-14 panel-product">
            <div class="panel panel-default panel-menu panel-body">
              <form method="POST" class="form">
                  {% csrf_token %}
                  <div class="form-group col-md-12">
                    <label>Nombre</label>
                    {{ form.nombre }}
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellido Paterno</label>
                    {{ form.apellido_paterno }}
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellido Materno</label>
                    {{ form.apellido_materno }}
                  </div>
                  <div class="form-group col-md-12">
                    <label>Correo</label>
                    {{ form.email }}
                  </div>
                  <div class="form-group col-md-12">
                    <label for="id_telefono_personal">Telefono Personal</label>
                    {{ form.telefono_personal }}
                  </div>
                  <div class="form-group col-md-12">
                    <span>Fecha de nacimiento:</span>
                    {{ form.fecha_nacimiento }}
                  </div>
                  <div class="form-group col-lg-12">
                    <center>                      
                      <button class="form-control btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-edit"> Guardar </i>
                      </button>
                      <button class="form-control btn btn-warning" type="reset">
                        <i class="glyphicon glyphicon-remove"> Cancelar </i>
                      </button>
                    </center>
                  </div>
              </form>
            </div>
            <hr>
          </div>
        </div>
        {% endif %}
        {% if form_edit %}
        <div class="container">
          <div class="col-lg-3 col-md-10 col-sm-9 col-xs-14 panel-product">
            <div class="panel-body text-center">
              <h1>Paciente</h1>
              <p>Editar datos del paciente</p>
              <button class="btn" type="button" onclick="goBack()">Regresar</button>
            </div>
          </div>
          <div class="col-lg-7 col-md-10 col-sm-9 col-xs-14 panel-product">
            <div class="panel panel-default panel-menu panel-body">
              <form method="POST">
                  {% csrf_token %}
                  <div class="form-group col-md-12">
                    <label>Nombre</label>
                    {{ form_edit.nombre }}
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellido Paterno</label>
                    {{ form_edit.apellido_paterno }}
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellido Materno</label>
                    {{ form_edit.apellido_materno }}
                  </div>
                  <div class="form-group col-md-12">
                    <label>Telefono Personal</label>
                    {{ form_edit.telefono_personal }}
                  </div>
                  <div class="form-group col-md-12">
                    <span>Fecha de nacimiento:</span>
                    {{ form_edit.fecha_nacimiento }}
                  </div>
                  <div class="form-group">
                    <center>
                      <button class="form-control btn btn-primary" type="submit">Editar</button>
                    </center>
                  </div>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% if results.pacientes %}
      <div class="container" id="seach_data">
        <div class="row">
          <div id="menu-options" class="col-xs-20">
              <div class="page-header"><h2>Búsquedas</h2></div>
              <form action="." method="GET" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <div class="input-group col-md-12">
                          <input type="text" name="q" value="{{ query|escape }}"  class="form-control" placeholder="Buscar" />
                          <span class="input-group-btn">
                              <button  class="btn btn-info" type="submit">
                                  <i class="glyphicon glyphicon-search"></i>
                              </button>
                              <a href="{% url 'paciente_alta' %}" class="btn btn-success">
                                Agregar Paciente
                                <i class="glyphicon glyphicon-plus"></i>
                              </a>
                          </span>
                      </div>
                  </div>
              </form>
              {% if query %}
                  <div class="panel panel-success">
                      <div class="panel-heading">
                          <span class="glyphicon glyphicon-hdd"></span>
                      </div>
                      <div class="panel-body">
                              <h4>Resultados para "{{ query|escape }}":</h4>
                      </div>
                  </div>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="panel panel-success">
          <div class="panel-heading">Pacientes agregados</div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Fecha de nacimiento</th>
                  <th>Doctor</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
                {% for paciente in results.pacientes %}
                  <tr>
                    <td>{{paciente.nombre}}</td>
                    <td>{{paciente.apellido_paterno}} {{paciente.apellido_materno}}</td>
                    <td>{{paciente.fecha_nacimiento}}</td>
                    <td>{{paciente.doctor}}</td>
                    <td><a href="{% url 'paciente_editar' pk=paciente.pk %}" class="list-group-item"><span class="glyphicon glyphicon-edit"></span></a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    {% else %}
      {% if query %}
        <div class="alert alert-danger">
          No hay resultados para pacientes "{{ query|escape }}"
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="container" id="seach_data">
          <div class="row">
            <div class="col-md-8">
              <div class="page-header"><h2>Búsquedas</h2></div>
              <form action="." method="GET" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <div class="input-group col-md-12">
                          <input type="text" name="q" value="{{ query|escape }}"  class="form-control input-lg" placeholder="Buscar" />
                          <span class="input-group-btn">
                              <button  class="btn btn-info btn-lg" type="submit">
                                  <i class="glyphicon glyphicon-search"></i>
                              </button>
                              <a href="{% url 'paciente_alta' %}" class="btn btn-success btn-lg">
                                Agregar Paciente
                                <i class="glyphicon glyphicon-plus"></i>
                              </a>
                          </span>
                      </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}

    {% endif %}
  </div><hr>
{% endblock %}
