{% extends "citasmedicas/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div id="menu-options" class="col-lg-2 col-md-2 col-sm-3 col-xs-20">
      {% if form %}
      <div class="container">
        <div class="col-lg-3 col-md-10 col-sm-9 col-xs-14 panel-product">
          <div class="panel-body text-center">
            <h1>Secretaria</h1>
            <p>Ingresar datos</p>
            <button class="btn" type="button" onclick="goBack()">Regresar</button>
          </div>
        </div>
        <div class="col-lg-7 col-md-10 col-sm-9 col-xs-14 panel-product">
          <div class="panel panel-default panel-menu panel-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="form-control btn btn-primary" type="submit">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if secretarias %}
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Nombres</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Teléfono personal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for secretaria in secretarias %}
                    <tr>
                        <td>{{secretaria.nombres}}</td>
                        <td>{{secretaria.apellido_paterno}}</td>
                        <td>{{secretaria.apellido_materno}}</td>
                        <td>{{secretaria.telefono_personal}}</td>
                        <td>
                            <a href="{% url 'secretaria_edita' pk=secretaria.pk %}">
                                <span class="glyphicon glyphicon-edit"></span>
                                Editar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  {% endif %}
</div>
{% endblock %}
